[Desktop Entry]
Version=1.0
Type=Application
Name=Sublime Text
GenericName=Metin Editörü
Comment=Sublime Text, içinde birçok programlama dili arayüzü barındıran, çapraz platform bir kaynak kod düzenleme ve metin editörüdür. Arayüzü Vim'den ilham alınarak tasarlanmıştır.
Exec=/usr/share/sublimetext3/sublime_text %F
Terminal=false
MimeType=text/plain;
Icon=sublime-text
Categories=TextEditor;Development;
StartupNotify=true
Actions=Window;Document;

[Desktop Action Window]
Name=New Window
Exec=/usr/share/sublimetext3/sublime_text -n
OnlyShowIn=Unity;

[Desktop Action Document]
Name=New File
Exec=/usr/share/sublimetext3/sublime_text --command new_file
OnlyShowIn=Unity;
